*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.nav-item 
{
    font-size: 19px;
    font-weight: 500;
    padding: 5px;
}
.text-h3{
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2px;
}

.app-text h2{
    font-size: 51px;
    margin-top: 30px;
    color: white;
    font-weight: 700;
    line-height: 1;
}
.center {         
    margin-left: 2%;      
    width: auto;
}

.m-center {         
    margin-left: 18%;      
    margin-right: 18%;
    width: auto;
}
.stats-center {         
    margin-left: 13%;      
    margin-right: 13%;
    width: auto;
}
.gold
{
    color: #9facd5;
}

.home-bg{
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    min-height: 90vh;
}
.dec-bg{
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    min-height: 35vh;
}
body
{
    
}
.stats{
    width: 120px;
    height: auto;
}
.name
{
    font-size: 29px;
    font-weight: 700;
    color: red;
    padding: 5px;;
    font-family: sans-serif;
}

.title
{
    color: #403f6e;
    font-weight: 200;
    margin-top: 3px;
}
.dotted
{
  border-top: 1px dashed;
}

.culture
{
    color: #9facd5;
}
