<!doctype html>
<html lang="fr">
  <head>
    <title>RACINES</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body>
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <div class="container">
          <a class="navbar-brand name" href="#"> RACINES</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="../../index.html">Accueil
                      <span class="sr-only">(current)</span>
                    </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="#">Decouverte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Apprendre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">A propos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-warning" href="#">Se connecter</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <header>
          <div class="container-fluid py-5 mt-5 dec-bg">
              <div class="row">
                  <div class="col mt-3">
                      <div class="app-text mt-5">
                        
                        <h1 class="title text-center">LES PEUPLES DE LA CÔTE D'IVOIRE</h1>
                     </div>
                  </div>
              </div>
          </div>
      </header>
      <div class="container mt-4 justify-content-center">
          <div class="row">
              <div class="col-md-6">
                <img class="img-fluid" src="../images/carte1.png" alt="Card image cap">
              </div>
              <div class="col-md-6 mt-5">
                  <h3 class="text-justify title">La Côte d'Ivoire constitue une véritable mosaïque ethnique, car on y dénombre plus de 60 ethnies différentes qu'on peut regrouper en quatre grands groupes (selon des critères linguistiques):</h3>
                  <ul class="lead">
                      <li>Le groupe mandé : localisé dans le nord-ouest du pays, ce groupe, appelé aussi mandingue.</li>
                      <li>Le groupe krou : au centre-sud et au sud-ouest résident les Krou ou Magwé</li>
                      <li> Le groupe gour (voltaïque): au nord-est, ce groupe constitue l'un des plus anciens peuples du pays</li>
                      <li> Le groupe akan : à l'est, au centre et au sud-est se trouvent les Akan, l'ethnie la plus nombreuse</li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="container mt-4">
          <div class="alert alert-warning" role="alert">
              <strong><h4>
                chaque peuple apporte sa propre saveur culturelle allant de la nourriture aux célébrations en passant par les habitudes vestimentaires.
                <br>RACINE vous propose de renouer avec vos liens ethniques ou de découvvrir la sphère culturelle ivoirienne 
                au travers les différents groupes et des ethnies qui les composent.</h4></strong>
          </div>
      </div>
      <div class="container-fluid mt-5">
        <h1 class="text-center" style="font-size:40px;">LES GROUPES ETHNIQUES DE LA CÔTE D'IVOIRE</h1>
        <p class="lead text-center" style="font-size:40px;">L'univers culturel Ivoirien</p>
        <div class="row justify-content-center ">
      
            <div class="col-md-5 " >
              <div class="card mb-3 center" style="width: 22rem;">
                  <img src="../images/mande.jpg" class="card-img-top" width="50" height="265" alt="les mande">
                  <div class="card-body">
                    <h5 class="card-title">LES MANDE</h5>
                    <p class="card-text">Representation: ? %</p>
                    <p class="card-text">Region: NORD-OUEST</p>
                    <a href="mande.html" class="btn btn-info">EXPLORER</a>
                  </div>
                </div>
            </div>
            <div class="col-md-5">
              <div class="card mb-3 center" style="width: 22rem;">
                  <img src="../images/gour.jpeg" class="card-img-top" width="50" height="265" alt="les gour">
                  <div class="card-body">
                    <h5 class="card-title">LES GOUR</h5>
                    <p class="card-text">Representation: ? %</p>
                    <p class="card-text">Region: NORD-EST</p>
                    <a href="gour.html" class="btn btn-info">EXPLORER</a>
                  </div>
                </div>
            </div>
            <div class="col-md-5">
              <div class="card mb-3 center" style="width: 22rem;">
                  <img src="../images/krou.jpg" class="card-img-top" width="50" height="265" alt="les krou">
                  <div class="card-body">
                    <h5 class="card-title">LES KROU</h5>
                    <p class="card-text">Representation: ? %</p>
                    <p class="card-text">Region: SUD-OUEST</p>
                    <a href="krou.html" class="btn btn-info">EXPLORER</a>
                  </div>
                </div>
            </div>
            
            <div class="col-md-5">
              <div class="card mb-3 center" style="width: 22rem;">
                  <img src="../images/akan.jpeg" class="card-img-top" width="50" height="265" alt="les akan">
                  <div class="card-body">
                    <h5 class="card-title">LES AKAN</h5>
                    <p class="card-text">Representation: ? %</p>
                    <p class="card-text">Region: SUD-EST</p>
                    <a href="akan.html" class="btn btn-info">EXPLORER</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
      
  <!-- Footer -->

<!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#"> www.project-title.ci</a>
    </div>
    <!-- Copyright -->
  
  </footer>
    
  </div>
</html>
